.csapatok-iframe {
  display: block;
  margin-inline: auto;
}

.csapatok-link {
  text-decoration: none;
  color: black;
  background-image: linear-gradient(90deg, red, rgb(131, 0, 0));
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 200ms ease;
}

.csapatok-link:hover {
  color: red;
  background-size: 100% 2px;
}
