.csapatok-iframe {
  display: block;
  margin-inline: auto;
}

.csapatok .left {
  animation: translateXBounceLeft 500ms ease;
}

.csapatok .right {
  animation: translateXBounceRight 500ms ease;
}

.csapatok-img {
  display: block;
  margin-inline: auto;
}

@media (max-width: 768px) {
  .csapatok-img {
    order: 1;
    margin-bottom: 1rem;
  }

  .csapatok-content {
    order: 2;
  }
}
