.landing-page-link {
  text-decoration: none;
  color: #000;
  text-align: center;
}

.landing-page-img {
  display: block;
  margin-bottom: 1rem;
}

.landing-page .col-md-4 {
  animation: growOut 500ms ease;
}
