/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-padding-top: 5rem;
}

::selection {
  background-color: #f00;
  color: #fff;
}

/* global styles */
.title {
  padding: 4rem;
  text-align: center;
  margin-inline: auto;
}

main {
  min-height: 82.5vh;
}

.link {
  text-decoration: none;
  color: #000;
  background-image: linear-gradient(90deg, #f00, #830000);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 200ms ease;
}

.link:hover {
  color: #f00;
  background-size: 100% 2px;
}
