/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-padding-top: 5rem;
}

::selection {
  background-color: red;
  color: white;
}

/* global styles */

.title {
  padding: 4rem;
  text-align: center;
  margin-inline: auto;
}

main {
  min-height: 82.5vh;
}
